<div class="card">
  <div class="flex justify-content-center flex-wrap card-container ">
    <div class="flex">
      <p-card header="Ingresos" [style]="{ width: '200px' }" class="p-1 m-1">
        <ng-template pTemplate="header">
          <i class="pi pi-money-bill" style="font-size: 6rem; color: green;"></i>
        </ng-template>
        <h2>
          {{totalIngresos | currency}}
        </h2>
      <p>{{ingresos}}</p>
      <p>Ganacias</p>
      </p-card>

      <p-card header="Egresos" [style]="{ width: '200px' }" class="p-1 m-1">
        <ng-template pTemplate="header">
          <i class="pi pi-window-minimize" style="font-size: 6rem;color: red;"></i>
        </ng-template>
        <h2>
          {{totalEgresos | currency}}
        </h2>
      <p>{{egresos}}</p>
      <p>Perdidas</p>
      </p-card>
      </div>
      <p-card header="" [style]="{ width: '500px' }" class="p-1 m-1">
        <ng-template pTemplate="header">
      <canvas baseChart class="chart"
      [data]="doughnutChartData"
      [type]="doughnutChartType">
      </canvas>
        </ng-template>
      </p-card>
  </div>
</div>

